<% provide(:title, "Help") %>
<h1>Help</h1>

<h2><b>How do I find an individual player for my team?</b></h2>
<h2>Check out the <%= link_to "Player Selector page", roll_path %> page. This page randomly picks out a top-class player who will definitely
be an upgrade for your team.</h2>

<h2><b>What if I want more than one player?</b></h2>
<h2>In that case, build a whole team over at the <%= link_to "Team Generator page", team_path %>! Pick and choose who you want from here,
or simply take the entire team that it recommends. You can't go wrong either way!</h2>

<h2><b>Can I add players to your database?</b></h2>
<h2>Definitely! Have some fun over at the <%= link_to "Add Player page", add_path %>. Put yourself in your favorite team and make your
dreams come true.</h2>

<h2><b>Where can I learn more about the developer of this website?</b></h2>
<h2>Check out my info at the <%= link_to "About Us page", about_path %></h2>

<h2><b>Can I see all the players that I can pick for my team?</b></h2>
<h2>The contents of our entire database are displayed over at the <%= link_to "Index page", index_path %></h2>

<h2><b>If I haven't answered your questions here, please send me an email! You can reach me at practiceacc.eng@gmail.com </h2>