<% provide(:title, 'Add Player') %>

<h1>Add Player</h1>
<%= image_tag("add_player.png", class: "page_image", alt:"Virgil Van Dijk celebrating") %>
<p class="image_credits">Image Credits: HiClipArt </p>
<p></p>
<p></p>

<h2>Want to fantasize a little bit and create some fictional player to add to the database? Fancy yourself as a star
  soccer player? Well, here's your chance! Fill out all the forms and you'll be in the game too!</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %> <%= f.label :player %> <%= f.text_field :player %>
      <%= f.label :team %> <%= f.text_field :team %>
      <%= f.label :points %> <%= f.text_field :points %>
      <%= f.label :cost %> <%= f.text_field :cost %>
      <%= f.label :position %> <%= f.text_field :position %>

      <%= f.submit "Add a new player", class: "btn btnprimary"%> <% end %>
  </div> </div>
<p></p>
<p></p>
<p></p>