<% provide(:title, 'Team Generator') %>

<h1>Team Generator</h1>
<%= image_tag("team_generator.jpg", class: "page_image", alt:"Liverpool FC squad picture") %>
<p class="image_credits">Image Credits: LFC History </p>
<p></p>
<p></p>

<p>Here are the players we selected for you! Refresh the page (or click <%= link_to "here", team_path %>) if you want a new one!

<ul>
  <% @selected_players.each do | user | %>

    <li><%= user.player %>, who plays for <%= user.team %> as a <%= user.position %> and has
      <%= user.points %> points so far this season. </li>

  <% end %>
</ul>

</p>
